<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
			    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.learninglog.tool.entityprovider.LearningLogPostEntityProvider" init-method="init">
		<property name="developerService"><ref bean="org.sakaiproject.entitybroker.DeveloperHelperService"/></property>
        <property name="learningLogManager"><ref bean="org.sakaiproject.learninglog.api.LearningLogManager" /></property>
        <property name="sakaiProxy"><ref bean="org.sakaiproject.learninglog.api.SakaiProxy" /></property>
	</bean>
	
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.learninglog.tool.entityprovider.LearningLogAuthorEntityProvider" init-method="init">
        <property name="learningLogManager"><ref bean="org.sakaiproject.learninglog.api.LearningLogManager" /></property>
        <property name="sakaiProxy"><ref bean="org.sakaiproject.learninglog.api.SakaiProxy" /></property>
	</bean>
	
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.learninglog.tool.entityprovider.LearningLogCommentEntityProvider" init-method="init">
		<property name="developerService"><ref bean="org.sakaiproject.entitybroker.DeveloperHelperService"/></property>
        <property name="learningLogManager"><ref bean="org.sakaiproject.learninglog.api.LearningLogManager" /></property>
        <property name="sakaiProxy"><ref bean="org.sakaiproject.learninglog.api.SakaiProxy" /></property>
	</bean>
	
	<bean parent="org.sakaiproject.entitybroker.entityprovider.AbstractEntityProvider" 
		class="org.sakaiproject.learninglog.tool.entityprovider.LearningLogRoleEntityProvider" init-method="init">
		<property name="developerService"><ref bean="org.sakaiproject.entitybroker.DeveloperHelperService"/></property>
        <property name="learningLogManager"><ref bean="org.sakaiproject.learninglog.api.LearningLogManager" /></property>
	</bean>

</beans>
